# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# big files
2-uzduotis/studentai1000000.txt
2-uzduotis/Rezultatai.txt
5-uzduotis/failed_studentaiGen1000.txt
5-uzduotis/failed_studentaiGen10000.txt
5-uzduotis/passed_studentaiGen1000.txt
5-uzduotis/passed_studentaiGen10000.txt
5-uzduotis/passed_studentaiGen100000.txt
5-uzduotis/passed_studentaiGen10000000.txt
5-uzduotis/passed_studentaiGen1000000.txt
5-uzduotis/failed_studentaiGen1000.txt
5-uzduotis/failed_studentaiGen10000.txt
5-uzduotis/passed_studentaiGen1000.txt
5-uzduotis/passed_studentaiGen10000.txt
5-uzduotis/passed_studentaiGen100000.txt
5-uzduotis/passed_studentaiGen1000000.txt
5-uzduotis/passed_studentaiGen10000000.txt
5-uzduotis/passed_studentaiGen10000000.txt
5-uzduotis/passed_studentaiGen1000000.txt
5-uzduotis/passed_studentaiGen100000.txt
5-uzduotis/passed_studentaiGen10000.txt
5-uzduotis/passed_studentaiGen1000.txt
5-uzduotis/failed_studentaiGen10000.txt
5-uzduotis/failed_studentaiGen1000.txt
Installer/README.md
6-uzduotis/Data/failed.txt
6-uzduotis/Data/kursiokai.txt
6-uzduotis/Data/passed.txt
6-uzduotis/Data/studentai10000.txt
6-uzduotis/Data/studentai100000.txt
6-uzduotis/Data/studentai1000000.txt
Installer/Data/kursiokai.txt
Installer/Data/studentai10000.txt
Installer/Data/studentai100000.txt
Installer/Data/studentai1000000.txt
Vector/8-uzduotis/Data/failed.txt
Vector/8-uzduotis/Data/kursiokai.txt
Vector/8-uzduotis/Data/passed.txt
Vector/8-uzduotis/Data/studentai10000.txt
Vector/8-uzduotis/Data/studentai100000.txt
Vector/8-uzduotis/Data/studentai1000000.txt
Vector/Data/failed_studentaiGen1000.txt
Vector/Data/failed_studentaiGen10000.txt
Vector/Data/failed_studentaiGen100000.txt
Vector/Data/failed_studentaiGen1000000.txt
Vector/Data/failed_studentaiGen10000000.txt
Vector/Data/passed_studentaiGen1000.txt
Vector/Data/passed_studentaiGen10000.txt
Vector/Data/passed_studentaiGen100000.txt
Vector/Data/passed_studentaiGen1000000.txt
Vector/Data/passed_studentaiGen10000000.txt
Vector/Data/studentaiGen1000.txt
Vector/Data/studentaiGen10000.txt
Vector/Data/studentaiGen100000.txt
Vector/Data/studentaiGen1000000.txt
Vector/Data/studentaiGen10000000.txt
/Results
